.admonitionblock {
    font-weight : bold;
    font-style : italic;
}

.admonitionblock td.icon { font-size: 1.3em; }

.admonitionblock.note td.icon { color : #00f; }
.admonitionblock.warning td.icon { color : #f00; }